

<form class="theform" action="" method="post">
  <input class="post-title" type="text" name="name" value="" placeholder="title">
  <input class="post-body" type="text" name="name" value="" placeholder="body">
  <button class="submit-post" type="button" name="name" value="">Submit</button>
</form>
