<form class="theform" action="index.html" method="post">
  <input class="post-title" type="text" name="name" value="">
  <input class="post-body" type="text" name="name" value="">
  <input class="submit-post" type="button" name="name" value="">
</form>
